<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th>
      <%= link_to user_followings_path(user.id) do %>
        <%= user.followings.count %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to user_followers_path(user.id) do %>
        <%= user.followers.count %>
      <% end %>
    </th>
  </tr>
</table>

<div class='row'>
  <% if current_user.id == user.id %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% else %>
    <table class="table">
      <tr>
        <td>
        <%= render 'relationships/follow', user: user %>
        </td>
        <td>
          <% if @follow_check == true %>
            <% if @is_room == true %>
              <%= link_to 'chatを再開', room_path(@room_id) %>
            <% else %>
              <%= form_with model: Room.new do |f| %>
                <%= fields_for @entry do |e| %>
                  <% e.hidden_field :user_id, value: user.id %>
                <% end %>
                <%= f.button type: :submit do %>
                  chatを始める
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
</div>