<h2>
  <%= @another_entry.user.name %>
  さんとのメッセージ
</h2>
<% if @messages.present? %>
  <% @messages.each do |m| %>
    <% if m.user_id == current_user.id %>
      <div>
        <%= image_tag m.user.get_profile_image, size:"50x50" %>
        <%= m.body %>
      </div>
    <% else %>
      <div>
        <%= image_tag m.user.get_profile_image, size:"50x50" %>
        <%= m.body %>
      </div>
    <% end %>
  <% end %>
<% else %>
 <p>No messages</p>
<% end %>

  <div>
    <%= form_with model: Message.new do |f| %>
      <%= f.text_field :body %>
      <%= f.hidden_field :room_id, :value => @room.id %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>