<h2>
  <%= ("#{@another_entry.user.name}さんとのメッセージ") %>
</h2>

<% @messages.each do |m| %>
  <% if m.user_id == current_user.id %>
    <p>
      <%= m.body %>
    </p>
  <% else %>
    <%= image_tag m.user.get_profile_image %>
    <%= m.body %>
  <% end %>

  <div>
    <%= form_with model: Massage.new do |f| %>
      <%= f.text_field :body %>
      <%= f.hidden_field :room_id, :value => @room.id %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>